APP_PORT=3000
LOG_LEVEL=debug
NODE_ENV=development
MONGODB_SRV=FALSE
MONGODB_HOST=mongo:27017
MONGODB_DATABASE=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=admin
JWT_SECRET=
SALT=10
SENTRY_DSN=
